/* Footer.module.css */

.footer {
    width: 100%;
    background-color: #1DB182;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #ccc;
  }
  